/*!**************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[13].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[13].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[13].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[13].use[5]!./sass/main.scss ***!
  \**************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
/*
0 - 900px:     Phone
900 - 1200px:  Tablet landscape
1200 - 1800px: Desktop
1800px+:       Big desktop

$breakpoint argument choices:
- phone
- tab-land
- big-desktop

1em = 16px
*/
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Open+Sans:wght@300;400;500&display=swap");
h1,
h2,
h3,
h4 {
  font-family: "DM Serif Display", serif;
}

h1 {
  font-size: 10rem;
  line-height: 12rem;
  font-weight: 500;
}

h2 {
  font-size: 8rem;
}

h3 {
  font-size: 6rem;
  line-height: 7rem;
}

h4 {
  font-size: 4rem;
  line-height: 4.7rem;
}

h5 {
  font-size: 3rem;
}

.copy {
  font-size: 2rem;
}

.copy-small {
  font-size: 15px;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

body {
  background-color: #fffbf4;
}

main {
  min-height: calc(100vh - 13rem);
}

a {
  color: inherit;
  text-decoration: none;
}
a:hover, a:focus {
  text-decoration: none;
}

a.btn {
  display: inline-block;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  font-weight: 400;
}

html {
  font-family: "Open Sans", sans-serif;
  font-weight: normal;
  font-style: normal;
}

html {
  font-size: 62.5%;
}
@media (max-width: 75em) {
  html {
    font-size: 55%;
  }
}
@media (max-width: 56.25em) {
  html {
    font-size: 50%;
  }
}
@media (min-width: 112.5em) {
  html {
    font-size: 75%;
  }
}

.bold {
  font-weight: bold;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 4.8rem;
  z-index: 10;
}
.header--light {
  color: white;
}
.header--light .header__logo {
  filter: invert(99) sepia(3%) saturate(825%) hue-rotate(200deg) brightness(118%) contrast(100%);
}
.header__logo {
  width: 5rem;
}
.header__nav {
  display: flex;
  list-style: none;
}
.header__nav li:not(:last-of-type) {
  margin-right: 4.6rem;
}

.btn {
  font-size: 2.5rem;
}
.btn--small {
  padding: 1rem 1.8rem;
  border-radius: 2.5rem;
}
.btn--black {
  background-color: black;
  color: white;
}
.btn--medium {
  padding: 1.6rem 3.2rem;
  border-radius: 3.2rem;
}
.btn--turquoise {
  background-color: #14a998;
  color: white;
}
.btn--orange {
  background-color: #ce822f;
  color: white;
}

.footer {
  background-color: black;
  color: white;
  padding: 6rem 4.8rem 4.5rem;
}
.footer__logo {
  width: 8rem;
  filter: invert(99) sepia(3%) saturate(825%) hue-rotate(200deg) brightness(118%) contrast(100%);
}
.footer__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 6rem;
  margin-bottom: 3.5rem;
}
.footer__links {
  display: flex;
  list-style: none;
}
.footer__links li:not(:last-of-type) {
  margin-right: 6.3rem;
}
.footer__policies {
  display: flex;
  justify-content: space-between;
}
.footer__policies-nav {
  display: flex;
  list-style: none;
}
.footer__policies-nav li:not(:last-of-type) {
  margin-right: 3.5rem;
}

.hero {
  position: relative;
  height: 83rem;
  width: 100%;
  padding: 22rem 4.8rem 0;
  margin-bottom: 12.5rem;
}
.hero__backgroun {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.hero__backgroun img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center bottom;
  border-radius: 0px 0px 200px 200px;
}
.hero__headline {
  margin-bottom: 6.5rem;
}
.hero__headline--orange {
  color: white;
}
.hero__logo {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
}
.hero__logo--orange {
  filter: invert(62%) sepia(21%) saturate(1646%) hue-rotate(348deg) brightness(88%) contrast(81%);
}

.info {
  display: flex;
  justify-content: space-between;
  padding-right: 4.8rem;
  margin-top: 8rem;
}
.info--reversed {
  flex-direction: row-reverse;
  padding-left: 4.8rem;
  padding-right: 0;
}
.info--reversed .info__image {
  border-radius: 329px 0px 0px 329px;
}
.info__image, .info__text {
  width: 48%;
}
.info__image {
  border-radius: 0px 329px 329px 0px;
}
.info__headline {
  margin-top: 4rem;
  margin-bottom: 3rem;
}
.info .btn {
  margin-top: 3rem;
}
